.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .advantages-list__title {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
 }

 .advantages-list__description{
  color: @midnight-grey;
  font-size: 14px;
  line-height: 24px;
}
