.competition-form {
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-bottom: 49px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

.competition-form__fields {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 25px;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 20px 50px;
  }

  &--grey {
    background-color: @grey-background;

    @media (min-width: @tablet-width) {
      background-color: transparent;
    }
  }

  &--personal-data {
    @media (min-width: @tablet-width) {
      order: 1;
    }

    @media (min-width: @desktop-width) {
      width: 470px;
      padding: 0;
    }
  }

  &--achievements {
    padding-bottom: 0;

    @media (min-width: @tablet-width) {
      order: 4;
    }

    @media (min-width: @desktop-width) {
      width: 940px;
      padding: 29px 0 0;
    }
  }

  &--contacts-data {
    @media (min-width: @tablet-width) {
      order: 3;
      padding-bottom: 67px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      padding: 64px 0 34px;
    }
  }

  &--applications {
    padding-bottom: 0;
    position: relative;

    @media (min-width: @tablet-width) {
      order: 2;
      padding-bottom: 47px;
    }

    @media (min-width: @desktop-width) {
      width: 434px;
      padding: 0;
      margin-left: 36px;
    }
  }

  &--emotions {
    padding-bottom: 29px;

    @media (min-width: @tablet-width) {
      order: 5;
      padding-bottom: 63px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 62px;
    }
  }
}

.competition-form__fields-wrapper {
  @media (min-width: @tablet-width) {
    border: 2px solid @grey-background;
    margin-top: 20px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }

  &--applications {
    @media (min-width: @desktop-width) {
      margin-top: 4px;
    }
  }

  &--emotions {
    @media (min-width: @tablet-width) {
      margin-top: 66px;
      min-height: 290px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 65px;
      min-height: 209px;
    }
  }
}

.competition-form__field {
  padding: 0 20px 17px;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 43px;
  }

  &:last-of-type {
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  &--personal-data {
    @media (min-width: @desktop-width) {
      margin-top: 0;
      margin-bottom: 45px;
      margin-right: 35px;
    }
  }

  &--contacts-data {
    @media (min-width: @tablet-width) {
      flex-direction: column;
      position: relative;
      margin-top: 0;
      margin-bottom: 12px;
      padding-left: 59px;
      padding-right: 58px;
      padding-top: 12px;
    }

    @media (min-width: @desktop-width) {
      min-width: 374px;
      padding: 0;
      margin: 0;
    }

    &::after {
      @media (min-width: @tablet-width) {
        content: "";
        position: absolute;
        top: 14px;
        right: 60px;
        width: 60px;
        height: 58px;
        background-color: @grey-borders;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &--phone {
    &::after {
      @media (min-width: @tablet-width) {
        background-image: url("/img/svg/icon-phone.svg");
        background-size: 19px 19px;
      }

      @media (min-width: @desktop-width) {
        top: 2px;
        right: 2px;
      }
    }
  }

  &--email {
    &::after {
      @media (min-width: @tablet-width) {
        background-image: url("/img/svg/icon-mail.svg");
        background-size: 18px 14px;
      }

      @media (min-width: @desktop-width) {
        top: 2px;
        right: 2px;
      }
    }
  }
}

.competition-form__legend {
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-align: center;
  text-transform: uppercase;
  padding: 39px 34px 42px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 20px 25px;
    border: 2px solid @white;
    background-color: @white;
    z-index: 2;
    position: absolute;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &--applications {
    @media (min-width: @tablet-width) {
      left: 145px;
      top: -12px;
    }

    @media (min-width: @desktop-width) {
      left: 31px;
      top: -28px;
    }
  }

  &--contacts-data {
    @media (min-width: @tablet-width) {
      top: -33px;
      left: 182px;
    }

    @media (min-width: @desktop-width) {
      top: -35px;
      left: 342px;
    }
  }

  &--achievement {
    @media (min-width: @tablet-width) {
      left: 95px;
      top: -31px;
    }

    @media (min-width: @desktop-width) {
      left: 255px;
      top: -33px;
    }
  }

  &--emotions {
    padding-bottom: 15px;
    padding-top: 37px;

    @media (min-width: @tablet-width) {
      left: 189px;
      top: -50px;
    }

    @media (min-width: @desktop-width) {
      left: 350px;
      top: -54px;
    }
  }

  &--hidden {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.competition-form__wrapper-contacts {
  padding-top: 31px;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 58px 7px;
    flex-wrap: wrap;
  }
}

.competition-form__label {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
  padding-bottom: 6px;
  padding-left: 23px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 19px;
  }

  &--contacts-data {
    @media (min-width: @tablet-width) {
      order: 2;
      padding-left: 18px;
      padding-top: 11px;
    }
  }
}

.competition-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 23px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @grey-borders;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }

  &:hover {
    border-color: @midnight-grey;
    outline-color: @midnight-grey;
  }

  &:focus,
  &:active {
    border-color: @pink;
    outline-color: @pink;
  }
}

.competition-form__textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 201px;
  border: 2px solid @grey-borders;
  font-family: @font-family-main;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 13px 21px;

  &:hover {
    border-color: @midnight-grey;
    outline-color: @midnight-grey;
  }

  &:focus,
  &:active {
    border-color: @pink;
    outline-color: @pink;
  }

  @media (min-width: @tablet-width) {
    margin: 34px 57px 46px;
    min-height: 194px;
  }

  @media (min-width: @desktop-width) {
    min-height: 126px;
  }
}

.competition-form__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 55px 49px 12px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 58px;
  }

  &--achievements {
    @media (min-width: @tablet-width) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 8px;
    }
  }

  &--applications {
    @media (min-width: @desktop-width) {
      padding-left: 55px;
      padding-right: 55px;
    }
  }
}

.competition-form__item {
  padding-bottom: 52px;

  &--applications {
    padding-bottom: 44px;

    @media (min-width: @desktop-width) {
      padding-bottom: 46px;
      width: 269px;
    }
  }

  &--checkbox {
    @media (min-width: @tablet-width) {
      padding-left: 58px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
      width: 269px;
    }
  }

  &--cell-2 {
    @media (min-width: @desktop-width) {
      margin-left: 46px;
    }
  }

  &--cell-3 {
    @media (min-width: @desktop-width) {
      margin-left: 25px;
    }
  }

  &:last-of-type {
    padding-bottom: 47px;
  }
}

.competition-form__checkbox {
  & + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 35px;
    height: 35px;
    border: 2px solid @grey-borders;
    background-color: @white;
  }

  &:hover + label::before,
  &:focus + label::before {
    border-color: @midnight-grey;
  }

  &:active + label::before {
    border-color: @pink;
  }
}

.competition-form__checks-label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 59px;
  font-size: 18px;
  line-height: 30px;
  color: @midnight-grey;

  &--applications {
    padding-left: 70px;

    @media (min-width: @desktop-width) {
      padding-left: 26px;
    }
  }
}

.competition-form__icon-yes {
  fill: @pink;
}

.competition-form__checkbox + .competition-form__checks-label .competition-form__icon-yes {
  display: none;
}

.competition-form__checkbox:checked + .competition-form__checks-label .competition-form__icon-yes {
  position: absolute;
  display: block;
  top: 7px;
  left: 8px;
}

.competition-form__radio {
  & + label::before {
    content: "";
    position: absolute;
    left: 1px;
    top: -7px;
    width: 37px;
    height: 37px;
    border: 2px solid @grey-borders;
    border-radius: 50%;
    background-color: @white;

    @media (min-width: @tablet-width) {
      left: 9px;
      top: -6px;
    }

    @media (min-width: @desktop-width) {
      left: -33px;
    }
  }

  &:hover + label::before,
  &:focus + label::before {
    border-color: @midnight-grey;
  }

  &:active + label::before {
    border-color: @pink;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-color: @pink;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: 7px;
      left: 22px;
    }

    @media (min-width: @desktop-width) {
      left: -22px;
    }
  }
}

.competition-form__button-wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    order: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.competition-form__button {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.competition-form__footnote {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 34px;

  &::first-letter {
    color: @pink;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.competition-form__visually-hidden {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
