.contacts-list {
  margin: 0;
  padding: 0 20px 16px;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 9px 6px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-top: 57px;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.contacts-list__item {
  text-align: center;
  padding-bottom: 19px;

  &--phone {
    @media (min-width: @tablet-width) {
      min-width: 50%;
      padding-bottom: 42px;
    }

    @media (min-width: @desktop-width) {
      min-width: 33.3%;
      order: 1;
    }
  }

  &--email {
    padding-bottom: 23px;

    @media (min-width: @tablet-width) {
      min-width: 50%;
      padding-bottom: 42px;
    }

    @media (min-width: @desktop-width) {
      min-width: 33.3%;
      order: 3;
    }
  }

  &--address {
    @media (min-width: @tablet-width) {
      min-width: 100%;
    }

    @media (min-width: @desktop-width) {
      min-width: 33.3%;
      order: 2;
      margin: 0;
    }
  }
}

.contacts-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: @midnight-grey;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 5px;
  }
}

.contacts-list__text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: @pink;
  margin: 0;

  &--address {
    line-height: 33px;
    max-width: 298px;
    margin: 0 auto;
  }
}

.contacts-list__link {
  text-decoration: none;
  color: @pink;
}
