.copyrights {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: @midnight-grey;
}

.copyrights__link {
  position: absolute;
  top: 5px;
  right: 0;
  width: 27px;
  height: 34px;

  @media (min-width: @tablet-width) {
    top: 7px;
  }

  @media (min-width: @desktop-width) {
    top: 11px;
  }
}

.copyrights__htmlacademy {
  fill: @pink;

  &:hover {
    fill: @midnight-grey;
  }

  &:active {
    fill: @midnight-grey-opacity-3;
  }
}
