.downloads {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.downloads__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: @dark-grey;
  height: 271px;
}

.downloads__link {
  color: @white;
  text-decoration: none;
  border-color: @white;

  &:hover {
    background-color: @white;
    cursor: pointer;
    color: @pink;
  }

  &:active {
    background-color: @white;
    color: fade(@pink, 30);
  }
}

.downloads__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0 20px;
}
