.editor__wrapper {
  margin: 0;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 620px;
    margin: 0 auto;
    padding-top: 34px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.editor__photo {
  width: 100%;
  height: auto;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-left: 58px;
  }
}

.editor__button {
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }

  &--post {
    color: @pink;
    border-color: @pink;

    &:hover {
      background-color: @pink;
      cursor: pointer;
      color: @white;
    }

    &:active {
      background-color: @pink;
      color: fade(@white, 30);
    }
  }

  &--cancel {
    color: fade(@midnight-grey, 10);
    border-color: fade(@midnight-grey, 10);

    &:hover {
      cursor: pointer;
      color: fade(@midnight-grey, 30);
    }

    &:active {
      background-color: fade(@midnight-grey, 30);
      color: fade(@white, 30);
    }
  }
}
