.information__slogan {
  color: @midnight-grey;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.information__advantages {
  background-color: @grey-background;
}
