.logo__header {
  fill: @white;

  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--desktop:hover,
  &--mobile:hover,
  &--tablet:hover {
    fill: @pink;
  }

  &--desktop:active,
  &--mobile:active,
  &--tablet:active {
    fill: @white;
    opacity: 0.3;
  }
}

.logo__footer {
  color: @midnight-grey;

  &--mobile {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--mobile:hover,
  &--desktop:hover {
    fill: @pink;
  }

  &--mobile:active,
  &--desktop:active {
    fill: @midnight-grey;
    opacity: 0.3;
  }
}
