.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: @white;
  text-align: center;
  box-shadow: 0 7px 15px @grey-shadow;
  border-radius: 1px;
  z-index: 3;

  &--error {
    display: none;
  }

  &--success {
    display: none;
  }
}

.modal__body {
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    min-height: 377px;
  }

  &--error {
    height: 289px;

    @media (min-width: @tablet-width) {
      min-height: 363px;
    }
  }

  &--success {
    height: 380px;

    @media (min-width: @tablet-width) {
      min-height: 432px;
    }
  }
}

.modal__header {
  margin: 0;
  padding: 39px 20px 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding-left: 33px;
    padding-right: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 37px;
  }

  &--error {
    @media (min-width: @tablet-width) {
      padding: 42px 100px 24px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 27px;
      padding-bottom: 21px;
    }
  }
}

.modal__text {
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  &--success {
    padding: 0 28px 35px;

    @media (min-width: @tablet-width) {
      padding: 0 65px 30px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 154px 39px;
    }
  }

  &--error {
    @media (min-width: @tablet-width) {
      padding: 0 69px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 183px;
      padding-right: 183px;
      padding-bottom: 62px;
    }
  }
}

.modal__button-wrapper {
  padding: 0 20px;
  padding-top: 50px;
  padding-bottom: 54px;
  margin: 0 auto;
  background-color: @grey-background;

  &--error {
    @media (max-width: @without-table) {
      background-color: transparent;
      padding-top: 33px;
    }
  }
}
