.page-header {
  color: @white;
  background-color: @midnight-grey;
}

.page-header__header {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  &--index {
    line-height: 28px;
  }
}
