.page-main__description {
  font-size: 14px;
  line-height: 30px;
  color: @midnight-grey;
  text-align: center;
  padding: 44px 20px 35px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 91px 49px 62px;
  }

  @media (min-width: @desktop-width) {
    max-width: 635px;
    margin: 0 auto;
    padding-bottom: 74px;
  }

  &--mobile-hidden {
    @media (max-width: @mobile-width-only) {
      display: none;
    }
  }

  &--bottom {
    padding-top: 21px;
    padding-bottom: 41px;

    @media (min-width: @tablet-width) {
      padding-top: 67px;
      padding-bottom: 69px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 56px;
    }
  }

  &--form {
    @media (min-width: @desktop-width) {
      max-width: 805px;
    }
  }

  &--catalog {
    padding-left: 38px;
    padding-right: 38px;
  }
}
