.page-footer {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.page-footer__wrapper {
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 32px 19px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 0;
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }
}

.page-footer__logo {
  @media (min-width: @desktop-width) {
    margin-top: 14px;
  }
}

.page-footer__copyrights {
  padding-top: 37px;
  padding-right: 43px;
  font-size: 14px;
  line-height: 18px;
  color: @midnight-grey;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    padding-top: 31px;
    padding-right: 40px;
  }
}
