.page-header {
  position: relative;
  height: 237px;
  color: @white;
  background-color: @dark-grey;
  background-image: url("/img/jpg/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/jpg/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    height: 440px;
    background-image: url("/img/jpg/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/jpg/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    height: 394px;
    background-image: url("/img/jpg/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/jpg/bg-back-desktop@2x.jpg");
    }
  }

  &--index {
    height: 729px;

    @media (min-width: @desktop-width) {
      height: 853px;
    }
  }
}

.page-header__intro {
  padding-top: 0;

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }

  &--index {
    position: relative;

    @media (min-width: @tablet-width) {
      padding: 0 20px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  &--index::before {
    position: absolute;
    bottom: 267px;
    right: 33px;
    content: "";
    width: 100%;
    height: 292px;
    background-image: url("/img/png/iphone-hand-mobile@1x.png");
    background-size: 260px 290px;
    background-repeat: no-repeat;
    background-position: bottom center;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/png/iphone-hand-mobile@2x.png");
    }

    @media (min-width: @tablet-width) {
      bottom: 4px;
      right: 0;
      height: 550px;
      background-image: url("/img/png/iphone-hand-tablet@1x.png");
      background-size: 700px 544px;

      @media (min-resolution: 2dppx) {
        background-image: url("/img/png/iphone-hand-tablet@2x.png");
      }
    }

    @media (min-width: @desktop-width) {
      height: 645px;
      background-image: url("/img/png/iphone-hand-tablet@1x.png");
      background-size: 800px 645px;

      @media (min-resolution: 2dppx) {
        background-image: url("/img/png/iphone-hand-tablet@2x.png");
      }
    }
  }
}

.page-header__header {
  margin: 36px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 81px 0;
  }

  &--index {
    margin: 25px 0 auto;
    line-height: 28px;

    @media (min-width: @tablet-width) {
      min-height: 127px;
      font-size: 40px;
      line-height: 48px;
      padding: 0;
      padding-left: 37px;
      padding-right: 48px;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      min-height: 174px;
      font-size: 50px;
      line-height: 68px;
      padding: 0;
    }
  }
}

.page-header__downloads-background {
  width: 100%;
  background-color: @dark-grey;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    min-height: 292px;
  }
}
