//colors
@white: rgba(255, 255, 255, 1);
@black: rgba(0, 0, 0, 1);
@midnight-grey: rgba(40, 54, 69, 1);
@pink: rgba(210, 40, 86, 1);
@pink-background: rgba(210, 40, 86, 1);
@dark-grey: rgba(29, 38, 49, 1);
@grey-background: rgba(242, 242, 242, 1);
@grey-borders: rgba(229, 229, 229, 1);
@green-background: rgba(42, 171, 109, 1);
@green-background-hover: rgba(28, 155, 94, 1);
@border-shadow: rgba(72, 84, 97, 1);
//font
@font-family-main: "OpenSans", "Arial", sans-serif;
//viewports
@tablet-width: 660px;
@desktop-width: 980px;
@mobile-width-only: 659px;
@without-table: 979px;
