//colors
@white: rgba(255, 255, 255, 1);
@black: rgba(0, 0, 0, 1);
@midnight-grey: rgba(40, 54, 69, 1);
@pink: rgba(210, 40, 86, 1);
@dark-grey: rgba(29, 38, 49, 1);
@grey-background: rgba(242, 242, 242, 1);
@grey-borders: rgba(229, 229, 229, 1);
@green-background: rgba(42, 171, 109, 1);
@green-background-hover: rgba(28, 155, 94, 1);




